h6 {
	color: gray;
	font-style: italic;
}
.content-mid {
	color: white;
}
.progressSelector {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.chartList {
	width: 80%;
	overflow-y: scroll;
	padding-bottom: 10em;
}
.chart {
	width: 100%;
	color: white;
}
