.workout-item {
	width: 100%;
	height: 8vh;
	background-color: #424549;
	color: white;
	border-radius: 12px;

	display: flex;
	flex-direction: row;
	align-items: center;
	transition: all 0.4s;
	margin-bottom: 3%;
}
.checked {
	height: 4vh;
	background-color: var(--sub-alt-color);
	color: var(--text-color);
	text-decoration: line-through;
}
.checked .item-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.checked .item-reps {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* .item-title .item-sets .item-reps; */

.item-title {
	margin-left: 5%;
	text-align: left;
	width: 70%;
}
.item-sets {
	width: 10%;
}
.item-reps {
	width: 20%;
	margin-right: 5%;
}
