.workout-item {
	width: 65%;
	height: 8vh;
	background-color: #424549;
	color: white;
	border-radius: 12px;

	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: space-evenly; */
	padding: 0 5% 0 5%;
}
.checked {
	height: 3vh;
	background-color: var(--sub-alt-color);
	color: var(--text-color);
	text-decoration: line-through;
}
.checked .item-title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* .item-title .item-sets .item-reps; */

.item-title {
	text-align: left;
	width: 70%;
}
.item-sets {
	width: 10%;
}
.item-reps {
	width: 20%;
}
